<nav class="navigation">
  <span class="navigation__item">
    <span>{{ title }}</span>
  </span>
  <span class="navigation__item">
    <app-button
      *ngIf="showBackButton$ | async"
      text="< Back to products list"
      (buttonClick)="backToProductsList()"
    ></app-button>
    <app-button *ngIf="isAuthenticated$ | async" text="Logout" (buttonClick)="logout()"></app-button>
    <app-button *ngIf="(isAuthenticated$ | async) === false" text="Login" (buttonClick)="login()"></app-button>
  </span>
</nav>
