<div *ngIf="activeProduct$ | async as product" class="product">
  <h1>{{ product.title }}</h1>
  <img [src]="product.img" [alt]="product.title" />
  <p>{{ product.text }}</p>
</div>

<hr width="90%" />

<ng-container *ngIf="isAuthenticated$ | async">
  <div *ngIf="activeProduct$ | async as product">
    <app-review [activeProduct]="product"></app-review>
  </div>
</ng-container>

<ng-container *ngIf="(isAuthenticated$ | async) === false">
  <div>
    <p>You do not have sufficient rights to view and create a product review. Please login!</p>
  </div>
</ng-container>
