.app {
  padding: 10px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;

  @media screen and (min-width: 600px) {
    width: 90%;
  }
  
  @media screen and (min-width: 960px) {
    width: 80%;
  }
  
  @media screen and (min-width: 1280px) {
    width: 70%;
  }

  @media screen and (min-width: 1920px) {
    width: 1200px;
  }
}