<div class="review-list-item">
  <div class="review-list-item__title">
    <p class="review-list-item__title-user">{{ review.created_by.username }}</p>
    <p
      class="review-list-item__title-rate"
      [class.review-list-item__title-rate-low]="review.rate < 2"
      [class.review-list-item__title-rate-medium]="review.rate === 3"
      [class.review-list-item__title-rate-high]="review.rate > 3"
    >
      <span>{{ review.rate }}</span>
    </p>
  </div>
  <div>
    <p class="review-list-item__text">{{ review.text }}</p>
  </div>
</div>
