<div class="review-form">
  <div class="review-form__rate">
    <div>
      <ng-container *ngFor="let star of stars">
        <app-star
          [starId]="star"
          [rating]="hoverState || rating"
          (enter)="enter($event)"
          (leave)="leave()"
          (starClick)="updateRating(star)"
        >
        </app-star>
      </ng-container>
    </div>
  </div>
  <div class="review-form__text">
    <mat-form-field appearance="fill">
      <textarea matInput [(ngModel)]="reviewText" placeholder="Leave a review"></textarea>
    </mat-form-field>
  </div>
  <div class="review-form__action">
    <app-button text="Send review" (buttonClick)="sendReview()"></app-button>
  </div>
</div>
